*,
*::before
*::after {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
}  

.header {
  top: 0;
  width: 100%;

}

.nav-bar {
  background-image: linear-gradient(#999, #777 50%, #666 50%,#888);;
  top: 18px;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; 
  height: 36px;
  top: 46px;
  margin: 0 auto; 
  position: relative;
  display: block;
  width: 980px;
  border-radius: 4px; 
  z-index: 0;         
}

.list {
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  zoom: 1;
}

.image {
 height: 23px;
 width: 23px;
} 

.form {
  height: 36px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.input {
  width: 80%;
  background-image: linear-gradient(#999, #777 50%, #666 50%,#888);
  border-radius: 18px;
  padding: 2px 18px 1px 5px;
  font: 400 13.3333px Arial;
  height: 51%;
  box-shadow: rgba(0, 0, 0, 0.6) 0 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px 0;
  border: none;
}

.list-link {
  text-decoration: none;
  color: #fff; 
}

.list-items:hover {
  background-image: linear-gradient(to right, #5557, #2226 10% ,#2226 90%, #5557);
}

.list-items {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #888;
  background-image: linear-gradient(#878787, #666 50%, #444 50%,#777);
}

